*.png filter=lfs diff=lfs merge=lfs -text
*.gif filter=lfs diff=lfs merge=lfs -text
*.bmp filter=lfs diff=lfs merge=lfs -text
*.ogg filter=lfs diff=lfs merge=lfs -text
revolte_test filter=lfs diff=lfs merge=lfs -text
revolte_ncurses filter=lfs diff=lfs merge=lfs -text
revolte_terminal filter=lfs diff=lfs merge=lfs -text
revolte_sdl filter=lfs diff=lfs merge=lfs -text
revolte_x11 filter=lfs diff=lfs merge=lfs -text
*.xcf filter=lfs diff=lfs merge=lfs -text
