# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Archives
*.tar.gz
*.rar

# Compiled Binaries
*.o
*.a
*.so
tests/test_audio
tests/test_metadata
core/*.o

# OS Files
.DS_Store

# Local plans (also in .git/info/exclude)
.local/
