[Desktop Entry]
Name=L'Homme Révolté
Comment=A very special FPS
Exec=revolte
Terminal=false
Type=Game
StartupNotify=true
Icon=icon
Categories=games;
Version=20220601
X-OD-Manual=README.md
