[Desktop Entry]
Name=Revolte
Comment=Ultra-small GPL Wolfenstein 3D clone
Exec=revolte
Terminal=false
Type=Game
StartupNotify=true
Icon=icon
Categories=games;
Version=20220601
X-OD-Manual=README.md
